<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599238218045-fgstk4kq49u9bokjplo9jkdtm36hackm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599238218045-fgstk4kq49u9bokjplo9jkdtm36hackm</string>
	<key>API_KEY</key>
	<string>AIzaSyD8AfRItaqCZF5SDm5iPJsTb00FCNglFiI</string>
	<key>GCM_SENDER_ID</key>
	<string>599238218045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noyohelsinki.eProductOrderFlutter</string>
	<key>PROJECT_ID</key>
	<string>product-order-9d38f</string>
	<key>STORAGE_BUCKET</key>
	<string>product-order-9d38f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599238218045:ios:976bd2b40d46d93c987554</string>
</dict>
</plist>